body {
    font-family: Roboto, san-serif;
    margin: 0;
}

header, .hero, .section-1, .section-2, .section-3, footer, .image-container, .call-to-action {
    display: flex;
    padding: 0 13.88vw;
}





/*HEADER*/
header {
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    gap: 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: lighter;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

header img {
    object-fit: cover;
}





/*HERO*/
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 70px;
    padding-bottom: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    padding-right: 30px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: light;
    padding-right: 30px;
}

.hero button {
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 30px;
}

.hero .hero-text, .hero img {
    flex: 1;
}

.hero img {
    height: 250px;
    object-fit: cover;
}






/*SECTION 1*/
.section-1 {
    background-color: #F9FAF8;
    color: #1F2937;
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
    flex: 1;
    text-align: center;
    margin-bottom: 50px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: 0 100px;
    gap: 50px;
}

.image {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.image img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.image p {
    color: #1F2937;
    font-weight: lighter;
}





/*SECTION 2*/
.section-2 {
    background-color: #E5E7EB;
    color: #1F2937;
    padding-top: 150px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
}

.quote-atr {
    font-weight: bold;
    align-self: flex-end;
    margin-right: 10%;
}





/*SECTION 3*/
.section-3 {
    background-color: #F9FAF8;
    padding-top: 100px;
    padding-bottom: 100px;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 5vw;
    flex: 1;
    flex-wrap: wrap;
}

.call-to-action-text {
    flex: 4 1 auto;
}

.call-to-action-text h3 {
    margin: 20px 0 5px;
}

.call-to-action-text p {
    font-weight: lighter;
    margin: 0 0 20px;
}

.call-to-action button {
    border: solid 1.5px #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    flex: 1 0 auto;
    height: 35px;
    width: 120px;
    border-radius: 8px;
    margin: 0;
}





/*FOOTER*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: lighter;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* Debug */
img {
    width: 50px;
}