body {
    font-family: Roboto, san-serif;
    margin: 0;
}

header, .hero, .section-1, .section-2, .section-3, footer, .image-container, .call-to-action {
    display: flex;
    padding: 0 200px;
}


/*HEADER*/
header {
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: #F9FAF8;
    font-weight: lighter;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}


/*HERO*/
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: light;
}

.hero button {
    border: none;
    background-color: #3882F6;
    color: #F9FAF8;
}


/*SECTION 1*/
.section-1 {
    background-color: #F9FAF8;
    color: #1F2937;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.image img {
    border: 1px solid #3882F6;
}

.image p {
    color: #1F2937;
    font-weight: lighter;
}


/*SECTION 2*/
.section-2 {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937;
}

.quote-atr {
    font-weight: bold;
}


/*SECTION 3*/
.section-3 {
    background-color: #F9FAF8;
}

.call-to-action {
    background-color: #3882F6;
    color: #F9FAF8;
}

.call-to-action button {
    border: solid 2px #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
}


/*FOOTER*/
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}



/* Debug */
img {
    width: 50px;
}